<div class="container-fluid">
  <div class="container">
    <div class="row mt-4" style="height: 500px">
      <div class="col"></div>
      <div class="col-md-6 bg-white shadow">
        <div class="card bg-warning mt-4 p-2" id="headline">To Do List</div>
        <div>
          <div class="input-group p-4 shadow">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Task"
              [(ngModel)]="newTodo"
            />
            <button
              class="btn btn-outline-success"
              type="button"
              id="button-addon2"
              (click)="addTask()"
            >
              Add
            </button>
          </div>
        </div>
        <h4 class="text-primary mt-4">Tasks:</h4>
        <div style="overflow-y: auto; height: 380px">
          <div class="card-holder">
            <div #cardPopupMsg class="card-popup">
              <div class="items">
                <input
                  #inpPopup
                  class="form-control"
                  type="text"
                  [(ngModel)]="updatedTask"
                />
                <button
                  (click)="saveTask(i)"
                  class="btn btn-outline-success m-3"
                >
                  Save
                </button>
                <button
                  (click)="closeCard()"
                  class="btn btn-outline-danger m-3"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
          <div class="m-3">
            <div class="p-3 shadow">
              <div
                class="input-group row ps-3 mt-3"
                *ngFor="let task of todo; let i = index"
              >
                <div class="card col-md-10 border-0" #taskAdded>
                  {{ task.name }}
                </div>
                <button
                  class="btn btn-outline-primary col me-2"
                  (click)="updateTask(i)"
                >
                  !
                </button>
                <div
                  class="btn btn-outline-danger col"
                  (click)="removetask($event, i)"
                >
                  X
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
